[submodule "vercel-agent-skills"]
	path = vercel-agent-skills
	url = https://github.com/vercel-labs/agent-skills.git
[submodule "anthropics-skills"]
	path = anthropics-skills
	url = https://github.com/anthropics/skills.git
